<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">

  <menuitem name="app-demo-root" title="Demo App" order="10" icon="fa-pencil-square-o"
    icon-background="purple"/>

  <menuitem name="app-demo-studio" title="Demo" parent="app-demo-root"
    action="action.demo.view" order="18"/>

  <action-view name="action.demo.view" title="Demo">
    <view type="html" name="app"/>
  </action-view>

</object-views>
